[submodule "benchmarks/baselines"]
	path = benchmarks/baselines
	url = https://github.com/openai/baselines.git
[submodule "benchmarks/retro-baselines"]
	path = benchmarks/retro-baselines
	url = https://github.com/openai/retro-baselines.git
[submodule "benchmarks/RetroCodes"]
	path = benchmarks/RetroCodes
	url = https://github.com/eyounx/RetroCodes.git
